<h1>stackoverflow</h1>

<div class="title">
  <h3>Top Questions</h3>
</div>

<div class="container" id="site-description">
  <ul> <% @questions.each do |question| %>
    <li><%= link_to "#{question.question}", question_path(question) %></li>
    <p><%= "#{question.user.name} asked at #{question.created_at}"  %></p>
    <!-- do present minus time elapsed -->
    <% end %>
  </ul>
</div>
